.content {
  .content_title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
  }
  .content_subtitle {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #fff;
    a {
      text-transform: lowercase;
      font-size: 20px;
      color: #333;
    }
  }
}
